<div class="leaderboards centered-X">
	<h2 class="text-center leaderboards-title">Leaderboards</h2>
	<div class="leaderboard-tabs text-center">
		<button class="leaderboard-tab" ng-click="$ctrl.showLeaderboard('ALL_TIME')">All time</button>
		<button class="leaderboard-tab" ng-click="$ctrl.showLeaderboard('WEEKLY')">Weekly</button>
		<button class="leaderboard-tab" ng-click="$ctrl.showLeaderboard('DAILY')">Daily</button>
		<!--<button class="leaderboard-tab">My scores</button>-->
	</div>

	<div class="leaderboard-container">
		<div ng-if="$ctrl.timeSpan === 'ALL_TIME'">
			<h3>All time leaderboard</h3>
			<ul class="leaderboard" ng-if="$ctrl.leaderboards.allTime.items">
				<li class="leaderboard-item" ng-repeat="item in $ctrl.leaderboards.allTime.items">
					<span>{{$index + 1}}</span>
					<img ng-src="{{item.player.avatarImageUrl}}">
					<span>{{item.player.displayName}} </span>
					<span>{{item.formattedScore}}</span>
				</li>
			</ul>
			<div class="jumbotron" ng-if="!$ctrl.leaderboards.daily.items">
				<h4 class="text-center">No results</h4>
			</div>
		</div>
		<div ng-if="$ctrl.timeSpan === 'WEEKLY'">
			<h3>Weekly leaderboard</h3>
			<ul class="leaderboard" ng-if="$ctrl.leaderboards.weekly.items">
				<li class="leaderboard-item" ng-repeat="item in $ctrl.leaderboards.weekly.items">
					<span>{{$index + 1}}</span>
					<img ng-src="{{item.player.avatarImageUrl}}">
					<span>{{item.player.displayName}} </span>
					<span>{{item.formattedScore}}</span>
				</li>
			</ul>
			<div class="jumbotron" ng-if="!$ctrl.leaderboards.daily.items">
				<h4 class="text-center">No results</h4>
			</div>
		</div>
		<div ng-if="$ctrl.timeSpan === 'DAILY'">
			<h3>Daily leaderboard</h3>
			<ul class="leaderboard" ng-if="$ctrl.leaderboards.daily.items">
				<li class="leaderboard-item" ng-repeat="item in $ctrl.leaderboards.daily.items">
					<span>{{$index + 1}}</span>
					<img ng-src="{{item.player.avatarImageUrl}}">
					<span>{{item.player.displayName}} </span>
					<span>{{item.formattedScore}}</span>
				</li>
			</ul>
			<div class="jumbotron" ng-if="!$ctrl.leaderboard.daily.items">
				<h4 class="text-center">No results</h4>
			</div>
		</div>
	</div>
	<!--<button style="position: relative; top: 30em; left :30em;" class="btn btn-success" ng-click="$ctrl.generateScore()">Generate score</button>-->
</div>