.game-view {

}

.level-map {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
}

.level-map > li {
	width: 3em;
    height: 3em;
    background: trasparent;
    box-shadow: 0 4px 0 #214275, inset 0 1px 0 rgba(255,255,255,.7), inset 0 0 8px rgba(255,255,255,.5);
    color: #fff;
    border-radius: 10px;
    margin-bottom: 0.5em;
}

.level-map > li > p {
	margin: 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1em;
    text-align: center;
}

.level-map.ng-enter,
.level-map.ng-leave {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
  	transition: all ease 0.5s;
}
.level-map.ng-enter,
.level-map.ng-leave.ng-leave-active {
  	left: -20em;
}
.level-map.ng-leave,
.level-map.ng-enter.ng-enter-active {
	left: 0;
}