 // Buttons
$leaderboard-btn: #a52a85;
$leaderboard-btn-border: #7b3363;

$store-btn: #188caf;
$store-btn-border: #1d586f;

$settings-btn: #ea8d00;
$settings-btn-border: #92591f;

$google-btn: #c15050;
$google-btn-border: #863737;

$facebook-btn: #346abb;
$facebook-btn-border: #214275;

$play-btn: #4e9816;
$play-btn-border: #264a0b;

$play-btn-2: #66a93c;
$play-btn-2-border: #32541d;

$home-btn: #bd5e5e;
$home-btn-border: #71393a;